<!--HOLA {{usuario}}-->

<div class="modal" >
    <div class="container">
        <div>
            <div>
                <div class ="modalHeader">
                    <span (click)="closeModal()">x</span>
                        <h2>Iniciar Sesion</h2>
                </div>
                <div class="modal-body">
                    <label>Correo</label>
                    <input name="txtCorreo" type="text" [(ngModel)]="sesion.correo">
                
                    <label>Contrasena</label>
                    <input name="txtContrasena" type="text" [(ngModel)]="sesion.contrasena" >
                
                    <br/>
                
                    <button class="btn btn-success" (click)="iniciarSesion()">iniciarSesion</button>
                </div>
            </div>
        </div>
    </div>
</div>



